[submodule "device/freertos/FreeRTOS-Kernel"]
	path = device/freertos/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "device/ProjectFiles/nanopb_lib"]
	path = device/ProjectFiles/nanopb_lib
	url = https://github.com/nanopb/nanopb.git
