[submodule "device/deps/nanopb"]
	path = device/deps/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "device/deps/mongoose"]
	path = device/deps/mongoose
	url = https://github.com/cesanta/mongoose.git
[submodule "device/deps/FreeRTOS-Kernel"]
	path = device/deps/FreeRTOS-Kernel
	url = https://github.com/raspberrypi/FreeRTOS-Kernel.git
[submodule "device/deps/pico-sdk"]
	path = device/deps/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
