[submodule "device/deps/freertos/FreeRTOS-Kernel"]
	path = device/deps/freertos/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
	branch = 83da5fc
[submodule "device/deps/nanopb"]
	path = device/deps/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "device/deps/nanocobs"]
	path = device/deps/nanocobs
	url = https://github.com/charlesnicholson/nanocobs.git
[submodule "device/deps/libwebsockets"]
	path = device/deps/libwebsockets
	url = https://github.com/warmcat/libwebsockets.git
